{
    "extends": [
        "standard",
        "plugin:mocha/recommended"
    ],
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "single"]
    },
    "plugins": [
        "mocha"
    ],
    "globals": {
        "beforeEach": true,
        "afterEach": true,
        "describe": true,
        "it": true
    }
}