{
    "extends": [
        "standard"
    ],
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "single"]
    },
    "globals": {
        "before": true,
        "beforeEach": true,
        "after": true,
        "afterEach": true,
        "describe": true,
        "it": true
    }
}